# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [1]:
USE JunkDB_STL_March2022;
CREATE TABLE busra.planned_makes (
id INT PRIMARY KEY,
first_name VARCHAR (50) NOT NULL,
last_name VARCHAR (50) NOT NULL,
job_title VARCHAR (50) NOT NULL,
percentage_of_increase INT NOT NULL,
salary INT NOT NULL,
update_salary INT NULL,
);

: Msg 2714, Level 16, State 6, Line 2
There is already an object named 'planned_makes' in the database.

In [ ]:
SELECT *
FROM busra.planned_makes

Add three rows to your table that are your planned makes.

In [2]:

INSERT INTO busra.planned_makes

VALUES ('John', 'Simith', 'Data Scientist', '10', 70000, 77000),
('Helen', 'Sartre', 'HR Specialist', '15', 75000, 86250),
('Melissa', 'David', 'Computer Engineer', '20', 90000, 108000);

first_name,last_name,job_title,rate_of_increase,salary,update_salary
John,Simith,Data Scientist,10,70000,77
Helen,Sartre,HR Specialist,15,75,86
Melissa,David,Computer Engineer,20,90,108
John,Simith,Data Scientist,10,70000,77
Helen,Sartre,HR Specialist,15,75,86
Melissa,David,Computer Engineer,20,90,108
John,Simith,Data Scientist,10,70000,77000
Helen,Sartre,HR Specialist,15,75000,86250
Melissa,David,Computer Engineer,20,90000,108000
John,Simith,Data Scientist,10,70000,77000
Helen,Sartre,HR Specialist,15,75000,86250
Melissa,David,Computer Engineer,20,90000,108000

## Update a Row

Change different values in one of your three rows.

In [3]:
UPDATE busra.planned_makes
SET salary = 75000
WHERE rate_of_increase = 15

## Delete a Row

Delete one of the rows from your table.

In [4]:
DELETE 
FROM busra.planned_makes
WHERE rate_of_increase = 20

## Drop the Table

While this has been fun, it is time to drop the table!

In [5]:
DROP TABLE busra.planned_makes